{
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "trailingComma": "all",
  "printWidth": 130,
  "tabWidth": 2,
  "arrowParens": "always",
  "endOfLine": "lf",
  "tailwindStylesheet": "./src/style/style.css",
  "plugins": [
    "prettier-plugin-tailwindcss"
  ]
}