@import "tailwindcss";

@layer components {
  .btn-primary {
    @apply px-4 py-2 flex justify-between items-center bg-blue-700 text-white rounded select-none hover:bg-blue-800 active:bg-blue-900 disabled:bg-gray-400 disabled:opacity-80 disabled:cursor-not-allowed disabled:pointer-events-none transition;
  }
}

html {
  font-size: 16px;
}

@media (max-width: 1200px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 13px;
  }
}

@media (max-width: 576px) {
  html {
    font-size: 12px;
  }
}